.bg-img {
  background: url("../../../images/il-vagabiondo-8eNt0CQamB0-unsplash.jpg")
    no-repeat center / cover;
  height: 600px;
  width: auto;
}
.bg-img h1 {
  background-color: rgba(60, 188, 211, 0.589);
  padding: 15px;
  border-radius: 15px;
}

.bg-img .overlay {
  display: flex;
  align-items: center;
  height: 600px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.bg-dark:hover {
  background-color: rgb(11, 150, 155);
}
